* {
    margin: 0;
    padding: 0;
    font-family: 'Tiro Gurmukhi', serif;
}
.colorMarron {
    background-color: #241F26;
}
.anchototal{
    padding: 0 !important;
    margin: 0 !important;
}
/* FOOTER */
.footer ol{
    background-color: #241F26;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer {
    padding: 0 !important;
    margin: 0 !important;
}

