* {
    margin: 0;
    padding: 0;
    font-family: 'Tiro Gurmukhi', serif;
}
.colorMarron {
    background-color: #241F26;
}
.anchototal{
    padding: 0 !important;
    margin: 0 !important;
}
/* FOOTER */
.footer ol{
    background-color: #241F26;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.footerindex {
    padding: 0 !important;
    margin: 0 !important;
}
.footer {
    padding: 0 !important;
    margin: 0 !important; 
}
 .colorMarroncontacto {
    background-color: #241F26;
 }

 .mainlogin-class{
    grid-area: inicio;
 }
 .mainlogin-class2 {
    grid-area: registro;
 }
 .comenfor{
    grid-area: comentario;
 }
 .grillaform{
    color: aliceblue;
    background-color: #59271C;
    display: grid;
    grid-template-areas: 
    "inicio registro"
    "comentario comentario";
 }

